/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ff8529;
    background-image: linear-gradient(135deg, #fec279 0%, #1672ff 100%);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 20px 50px ;
    margin: 10px;
    width: 45%;
}

section h2 {
    color: #333;
}

section p {
    color: #666;
}

section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    header {
        background-color: yellowgreen;
        color: #313131;

    }
    section {
        width: 330px;
        height: 350px;
        background-color: #333;
    }
    .exemple {
        padding-left: 30px;
    }
    body {
        color: #fff;
    }
    section h2 {
        color: #ffffff;
        animation: lightTitle 1s infinite;
    }
    
    section p {
        color: #ffffff;
        animation: lightTitle 1s infinite;
    }
}

@media screen and (max-width: 390px) {
    header {
    background-color: aqua;
    animation: lightTitle 1s infinite;
    background-image: linear-gradient(15deg, #1672ff 0%, #fec279 100%);
}
section {
    width: 330px;
    height: 320px;
    background-color: transparent;
}
.exemple {
    padding-left: 30px;
}
body {
    color: #313131;
    
    background-image: linear-gradient(15deg, #1672ff 0%, #fec279 100%);
    }
    .exemple {
        background-color: #313131;
        padding-bottom: 330px;
    }
}
@keyframes lightTitle {
    from {
        color: #ff0000;
    }
    20% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    75% {
        color: green;
    }
    to {
        transform: rotate(30deg);
        color: whitesmoke;
    }
}